<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #err{
            color: red;
        }
    </style>
</head>
<body>
    <form id="formid">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
        <br><br>
        <label for="retype-password">Re-type Password:</label>
        <input type="password" id="retype-password" name="retypr-password">
        <br><br>
        <button id="sub">Submit</button>
        <br><br>
        <div id="err"></div>
    </form>
</body>
<script>
    var user_id;
    var token;
window.onload=async ()=>{
    let cur_url=window.location.href
    const url = new URL(cur_url);
    const params1 = new URLSearchParams(url.search);
     user_id = params1.get("user_id")
     token=params1.get("token")
     console.log(user_id);
     console.log(token);
     
}
let btn= document.getElementById('sub')

btn.addEventListener('click',async (e)=>{
    e.preventDefault();
    let pass=document.getElementById('password').value
    let re_pass=document.getElementById('retype-password').value

    if(pass!=re_pass){
        document.getElementById('err').innerText="password must be same in both textfields";
        return;
    }

    console.log(document.getElementById('password').value);
    
    let data={
        user_id:user_id,
        password:document.getElementById('password').value
    }

    try {
                const url = 'http://localhost:8080/set-password';
                const response = await fetch(url,{
                    method: "post",
                    body: JSON.stringify(data),
                    headers:{
                        'Authorization':token,
                        "Content-Type": "application/json"
                    }
                })
                 json = await response.json()
                if(json.data.success){
                  console.log("jsondata",json);
                  document.getElementById('err').innerText=json.message;
                  setTimeout(()=>{ window.location.href=`http://localhost:8080/render-loginpage`},2000);
                   
                }
                else{
                    document.getElementById('err').innerText=json.message;
                }

            } catch (error) {
                console.log(json.Error);
            }
})
</script>
</html>